    * {
        transition: .3s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*class paramètres*/
    
    .ombre {
        filter: drop-shadow(0 0 0.10rem rgba(0, 0, 0, 0.842));
    }
    
    .centre {
        margin: auto;
    }
    
    .boutons {
        cursor: pointer;
        width: 5rem;
    }
    
    a {
        text-decoration: none;
    }
    
    .bodycentral {
        height: max-content;
        margin: 0;
    }
    
    main {
        margin: 10rem auto;
        width: 60%;
        height: max-content;
        display: flex;
    }
    
    #nav1 {
        position: relative;
        border-radius: 10px;
        padding: 1%;
        top: 2rem;
        width: 60%;
        background-color: #DBBB5C;
    }
    
    #central {
        position: relative;
        cursor: pointer;
        padding: 30px;
        margin: 0rem auto;
        border-radius: 10px 10px 10px 10px;
    }
    
    #LMD {
        width: 60%;
        text-align: center;
        font-size: small;
        background-color: #1E5079;
        border-radius: 10px;
        padding: 20px;
    }
    
    #categories {
        position: relative;
        top: 1rem;
        background-color: #DBBB5C;
        width: 60%;
        height: max-content;
        padding: 1rem;
        border-radius: 10px;
    }
    
    h5 {
        position: relative;
        background-color: #1E5079;
        width: 60%;
        height: max-content;
        text-align: center;
        font-size: small;
        border-radius: 10px;
        padding: 10px;
    }
    
    h5:hover {
        width: 7rem;
    }
    
    h5:active {
        background-color: #DBBB5C;
    }
    
    #contentactu {
        position: relative;
        font-size: xx-large;
        background-image: url("../Images/Diplo9.jpg");
        border: #DBBB5C solid 5px;
    }
    
    #actuellement {
        position: relative;
        margin-top: 2rem;
        font-size: xx-large;
        background-image: url("../Images/gestimg2.jpg");
        background-size: cover;
        border: 5px solid #1E5079;
    }
    
    .contenus {
        border-radius: 10px;
        width: 30rem;
        height: 20rem;
        margin: auto;
        filter: drop-shadow(0 0 0.10rem rgba(0, 0, 0, 0.842));
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        border-width: 100px;
    }
    
    .pubs {
        width: 50rem;
        height: 30rem;
        margin: auto;
        display: flex;
        justify-content: last baseline;
    }
    
    .pubtitre {
        color: white;
        width: 20rem;
        margin-top: 10rem;
        text-align: end;
        margin-right: 1rem;
    }
    
    #pcontentactu {
        left: 2%;
        background-color: #dbbb5c8c;
    }
    
    #pactuellement {
        right: 2%;
        background-color: #1e50798c;
    }
    
    .pActus {
        top: 10%;
        position: absolute;
        font-size: .8rem;
        padding: 10px;
        width: 42%;
        height: 80%;
        border: 2px;
        border-radius: 10px;
    }
    
    .contitre {
        margin-top: 0%;
        color: honeydew;
    }
    
    @media screen and (max-width: 1280px) {
        #central {
            display: initial;
            width: 40%;
        }
        main {
            width: 90%;
            justify-content: space-evenly;
            margin-bottom: 2rem;
        }
        article {
            width: 60%;
        }
        .contenus {
            width: 80%;
        }
        .pActus {
            width: 50%;
        }
    }
    
    @media screen and (max-width: 799px) {
        #central {
            display: none;
        }
        main {
            margin-top: 10rem;
            width: 100%;
            height: max-content;
            margin-bottom: 2rem;
        }
        article {
            margin: auto;
            width: 100%;
        }
        .contenus {
            border-radius: 5px;
            width: 95%;
	        height: 22rem;
            margin: auto;
        }
        .pActus {
            height: max-content;
            margin-top: 1%;
            width: 52%;
        }
    }